img
{
  width: 100px;
}

.a 
{
  display: grid ;
  grid-template-columns: repeat(4, 110px); 
  grid-template-rows: repeat(3, 155px); 
  padding: 15px;
  position: absolute;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.b
{
  display: grid ;
  grid-template-columns: repeat(4, 110px); 
  grid-template-rows: repeat(3, 155px); 
  padding: 15px;
  position: absolute;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
