.body {
    background-color: #9b5c43;
}

.img2 {
    width: 100vw;
    height: 720px;
    margin: -1%;
    opacity: 0.2;
}

.profilna {
    position: absolute;
    z-index: 100;
    width: 50px;
    height: auto;
    margin-left: 95%;
    margin-top: 10px;
}

.profil {
    background-color: #b37760ce;
    border: 3px solid #463027;
    width: 96vw;
    position: absolute;
    z-index: 10;
    margin: 1%;
}

h6 {
    font-size: 30px;
    margin: 1%;
    color: #463027;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fave {
    background-color: #b37760ce;
    border: 3px solid #463027;
    width: 40vw;
    height: 30vw;
    position: absolute;
    z-index: 10;
    margin-top: -35%;
    margin-left: 4%;
    border-radius: 80px;
}

p {
    font-size: 30px;
    margin: 1%;
    margin-top: 35%;
    color: #463027;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.tbr {
    background-color: #b37760ce;
    border: 3px solid #463027;
    width: 40vw;
    height: 30vw;
    position: absolute;
    z-index: 10;
    margin-top: -35%;
    margin-left: 50%;
    border-radius: 80px;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: larger;
}

td, th {
  border: 1px solid #463027;
  text-align: center;
  padding: 8px;
  background-color: #b37760ce;
}

tr:nth-child(even) {
  background-color: #dddddd;
}